*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
body{
    font-family:sans-serif;
    background-color: black;
    
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color:rgb(17, 66, 69);
    padding: 1rem;
}
nav{
    display: flex;
    gap: 3rem;

}
nav a{
    color:white;
}


main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: black;
}
.main-container{
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}
.main-container h1{
    color: white;
    font-size: 55px;
    max-width: 400px;
    margin-bottom: 2rem;
}
.container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(600px,1fr));
    gap: 3rem;
}
.picture1,.picture2,.picture3,.picture4{
    width: 350px;
    height: 300px;
}
.text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.text h2{
    color: #0ef;
    font-size: 35px;
    max-width: 400px;
}
.text p{
    color: aliceblue;
    max-width: 400px;
}
.picture1{
    background: url(./images/submit.png) no-repeat center;
    background-size: cover;
    border-radius: 50%;
}
.picture2{
    background: url(./images/interview.jpg) no-repeat center;
    background-size: cover;
    border-radius: 50px;
}
.picture3{
    background: url(./images/job-offer-text-page-min.jpg) no-repeat center;
    background-size: cover;
    border-radius: 70px;
}
.picture4{
    background: url(./images/hiring-process-.jpg) no-repeat center;
    background-size: cover;
    border-radius: 70px;
}
.picture1:hover,.picture2:hover,.picture3:hover,.picture4:hover{
    transform: scale(1.2);
    overflow: hidden;
    cursor: pointer;
}
.first-container,.second-container,.third-container,.fourth-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.find-talent{
    display: flex;
    justify-content: center;
}
.find-talent button{
    padding: 15px 50px;
    border-radius: 20px;
    border: none;
    background-color: #0ef;
    color: white;
}
hr{
    width: 100%;
    margin:2rem 0;
}
.blue-background{
    background-color:  rgba(87, 75, 150, 0.089);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about{
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 1rem;
}
.jobs-picture{
    background:url(./images/istockphoto-1269698085-612x612.jpg) no-repeat center;
    background-size: cover;
    width: 600px;
    height: 500px;
    border-radius: 50%;
    transition: 6s;
}
.jobs-picture:hover{
    transform: scale(1.2) rotate(360deg);
    border-radius: 10px;
}
.about h4{
    font-size: 27px;
    color: white;
    max-width: 300px;
}
.about p{
    color: white;
    font-size: 23px;
    max-width: 500px;
}
.about h3{
    color: aqua;
    font-size: 26px;
    max-width: 500px;
}
.about button{
    padding: 15px 50px;
    background-color: #0ef;
    border: none;
    border-radius: 20px;
}

/* section poto-background */
.poto-background{
    background:url(./images/10307.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.our-shared-values{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    padding: 30px 0;
}
.our-shared-values p{
    color: white;
    font-size: 26px;
    max-width: 600px;
    text-align: center;
    transition: 3s;
}
.paragrapi1:hover{
    transform: translate(300px);
    color: #0ef;
}
.paragrapi2:hover{
    transform: translate(-300px);
    color: #0ef;
}
.paragrapi3:hover{
    transform: translate(300px) scale(1.2);
    color: #0ef;
}
.paragrapi4:hover{
    transform: translate(-300px);
    color: #0ef;
}
.paragrapi5:hover{
    transform: translate(300px);
    color: #0ef;
}
.paragrapi6:hover{
    transform: translate(-300px);
    color: #0ef;
}
.our-shared-values h3{
    color: white;
    font-size: 35px;
    max-width: 400px;
    text-align: center;
    margin-left: 30px;
}
.statistics{
    background-color: black ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    
}
.statistics h3{
    color: #0ef;
    font-size: 35px;
}
.grid-statistics{
    /*display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 1rem;*/
    display: flex;
    justify-content: center;
    gap: 20px;
    
}
.zeda-qveda{
    /*height: 300px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: 5px solid #0ef;
   /* padding: 3rem 1rem; */
    transition: 2s;
}
.zeda-qveda:hover{
    transform: scale(1.2);
    border-radius: 50%;
    background-color:#0ef;
    border: 5px solid black;
}
.zeda-qveda h5{
    color: white;
    font-size: 25px;
    max-width: 100px;
    text-align: center;
    padding: 10px;
}
.zeda-qveda h6{
    color: white;
    text-align: center;
    font-size: 25px;
    max-width: 200px;
    padding: 10px;
    
    
}
footer{
    background-color: black;
    padding: 80px 10px;
   
}
.div-for-footer{
    max-width: 1000px;
    margin: auto;
}
.div-for-footer-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    color: white;
    width: 100%;
    
}



.div-for-footer-grid div{
    margin-top: 10px;
    
    
}
.div-for-footer-grid img{
    width: 100px;
    height: 50px;
}
.div-for-footer-grid button{
    cursor: pointer;
    background-color: black;
    color: white;
}
@media (max-width:1129px) {
    .first-container,.second-container,.third-container,.fourth-container{
        flex-direction: column;
    }
    .div-for-footer{
        max-width: 90%;
        margin: auto;
    }
    
   

}
@media (max-width:1000px) {
    .main-container{
        width: 100%;
    }
    .about{
        max-width: 90%;
    }
    .about h4,.about h3,.about p{
        width: 100%;
    }
    .jobs-picture{
        width: 100%;
    }
    .container{
        grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    }
    .grid-statistics{
        flex-direction: column;
    }
}





      
